*
!.gitignore
!kustomization.yaml

# Tuto som skoncil na bode 5 (sprava prihlasovacich udajov pomocou secretOps), potom by som mal vymazat tento subor, neverim tomu co som robil
# Potom sa posunuli aj na autentifikaciu cez openIdConnect, tak aj to skus dobehnut